<div class="card mb-5 mb-xl-8">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1"
        >Course: {{ chapter?.idCourse?.title }}</span
      >
      <span class="text-muted mt-1 fw-bold fs-6"
        >Chapter: {{ chapter.title }}</span
      >
      <span class="text-muted mt-1 fw-bold fs-7"
        >Selected {{ getSelection().length }} records</span
      >
    </h3>
    <div class="card-toolbar">
      <!-- delete -->
      <div class="card-toolbar" *ngIf="getSelection().length > 0">
        <a
          routerLink="/features/lectures"
          data-toggle="modal"
          data-target="#deleteManyModal"
          class="btn btn-sm btn-light-danger mr-1"
        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
            class="svg-icon svg-icon-3"
          ></span>
          Delete
        </a>
      </div>

      <!-- new data -->
      <div class="card-toolbar">
        <a
          routerLink="/features/lectures/chapter/{{ chapter?._id }}/add"
          class="btn btn-sm btn-light-primary mr-1"
        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
            class="svg-icon svg-icon-3"
          ></span>
          Add New
        </a>
      </div>

      <!-- new data -->
      <div class="card-toolbar">
        <a
          routerLink="/features/chapters/update/{{ chapter?._id }}/"
          class="btn btn-sm btn-light-primary mr-1"
        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr002.svg'"
            class="svg-icon svg-icon-3"
          ></span>
          Go back
        </a>
      </div>
    </div>
  </div>
  <!-- end::Header -->

  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table
        class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
      >
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="w-25px">
              <div
                class="form-check form-check-sm form-check-custom form-check-solid"
              >
                <input
                  [(ngModel)]="isSelectAll"
                  (click)="onCheckAllSelected()"
                  class="form-check-input"
                  type="checkbox"
                  data-kt-check="true"
                  data-kt-check-target=".widget-13-check"
                />
              </div>
            </th>
            <th class="min-w-150px">ID</th>
            <th class="min-w-150px">Video</th>
            <th class="min-w-140px">Lesson</th>
            <th class="min-w-140px">Title</th>
            <th class="min-w-120px">Total Times</th>
            <th class="min-w-100px text-end">Actions</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let data of dataSources">
            <!-- Select -->
            <td>
              <div
                class="form-check form-check-sm form-check-custom form-check-solid"
              >
                <input
                  [(ngModel)]="data.checked"
                  (click)="onItemSelected(data.id)"
                  class="form-check-input widget-13-check"
                  type="checkbox"
                  value="1"
                />
              </div>
            </td>

            <!-- ID -->
            <td>
              <a
                routerLink="/features/lectures/update/{{ data._id }}"
                class="text-dark fw-bolder text-hover-primary fs-6"
              >
                <p
                  class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
                >
                  {{ data._id }}
                </p>
              </a>
            </td>

            <!-- Videos -->
            <td>
              <video width="160" height="120" controls>
                <source src="{{ data.url }}" type="video/mp4" />
                <source src="{{ data.url }}" type="video/ogg" />
              </video>
            </td>

            <!-- position -->
            <td>
              <p
                class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
              >
                {{ data.position }}
              </p>
            </td>

            <!-- title -->
            <td>
              <p class="text-dark text-hover-primary d-block mb-1 fs-6">
                {{ data.title }}
              </p>
            </td>

            <!-- Total times -->
            <td>
              <p class="text-dark text-hover-primary d-block mb-1 fs-6">
                {{ data.totalTimes }} Minutes
              </p>
            </td>

            <!-- Actions -->
            <td class="text-end">
              <!-- update -->
              <a
                routerLink="/features/lectures/update/{{ data._id }}"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                  class="svg-icon svg-icon-3"
                >
                </span>
              </a>

              <!-- delete -->
              <a
                (click)="updateDeleteId(data._id)"
                data-toggle="modal"
                data-target="#deleteOneModal"
                routerLink="/features/lectures"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
              >
                <span
                  [inlineSVG]="
                    './assets/media/icons/duotune/general/gen027.svg'
                  "
                  class="svg-icon svg-icon-3"
                >
                </span>
              </a>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->

      <!-- test -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>

<!-- Delete one Modal -->
<div
  class="modal fade"
  id="deleteOneModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteOneModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteOneModalLabel">
          <b>CONFIRM REMOVE DATA</b>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete these records? This process cannot be
        undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="onDeleteBtnClick()"
        >
          Accept
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete many Modal -->
<div
  class="modal fade"
  id="deleteManyModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteManyModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteManyModalLabel">
          <b>CONFIRM REMOVE DATA</b>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete {{ getSelection().length }} select records?
        This process cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="onDeleteManyBtnClick()"
        >
          Accept
        </button>
      </div>
    </div>
  </div>
</div>
