<div class="card mb-5 mb-xl-8">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Learning Paths</span>

      <!-- <p class="text-dark d-block mb-1 fs-6" style="max-width: 240px">
        {{ data.desc }}
      </p> -->
      <span class="text-muted mt-1 fw-bold fs-7"
        >Selected {{ getSelection().length }} records</span
      >
    </h3>
    <div class="card-toolbar">
      <!-- delete -->
      <div class="card-toolbar" *ngIf="getSelection().length > 0">
        <a
          routerLink="/features/learning-paths"
          data-toggle="modal"
          data-target="#deleteManyModal"
          class="btn btn-sm btn-light-danger mr-1"
        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
            class="svg-icon svg-icon-3"
          ></span>
          Delete
        </a>
      </div>

      <!-- new data -->
      <div class="card-toolbar">
        <a
          routerLink="/features/learningpaths/add"
          class="btn btn-sm btn-light-primary mr-1"
        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
            class="svg-icon svg-icon-3"
          ></span>
          Add New
        </a>
      </div>
    </div>
  </div>
  <!-- end::Header -->

  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table
        class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
      >
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="w-25px">
              <div
                class="form-check form-check-sm form-check-custom form-check-solid"
              >
                <input
                  [(ngModel)]="isSelectAll"
                  (click)="onCheckAllSelected()"
                  class="form-check-input"
                  type="checkbox"
                  data-kt-check="true"
                  data-kt-check-target=".widget-13-check"
                />
              </div>
            </th>
            <th class="min-w-140px">Thumbnail</th>
            <th class="min-w-140px">Title</th>
            <th class="min-w-140px">Courses</th>
            <th style="max-width: 200px">Description</th>
            <th class="min-w-100px text-end">Actions</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let data of dataSources">
            <!-- Select -->
            <td>
              <div
                class="form-check form-check-sm form-check-custom form-check-solid"
              >
                <input
                  [(ngModel)]="data.checked"
                  (click)="onItemSelected(data._id)"
                  class="form-check-input widget-13-check"
                  type="checkbox"
                  value="1"
                />
              </div>
            </td>

            <!-- Thumbnail -->
            <td>
              <img
                class="image-input-wrapper w-100px h-100px"
                src="{{ data.thumbnail }}"
                alt="{{ data.title }}"
              />
            </td>

            <!-- Title -->
            <td>
              <p class="text-dark fw-bolder d-block mb-1 fs-6">
                {{ data.title }}
              </p>
            </td>

            <!-- Courses -->
            <td style="max-width: 200px">
              <span
                class="cursor-pointer"
                style="padding-right: 2px"
                *ngFor="let course of data.courses"
                routerLink="/features/courses/detail/{{ course._id }}"
              >
                <img
                  src="{{ course.thumbnail }}"
                  width="40px"
                  height="40px"
                  style="
                    border-radius: 50%;
                    padding: 2px;
                    border: 2px solid #d5d5d5;
                    object-fit: cover;
                  "
              /></span>
            </td>

            <!-- Desc -->
            <td style="max-width: 200px">
              <p
                class="text-dark d-block mb-1 fs-6"
                [innerHTML]="data.desc"
              ></p>
            </td>

            <!-- Actions -->
            <td class="text-end">
              <a routerLink="/features/learning-paths/{{ data._id }}">
                <svg
                  style="
                    width: 38px;
                    background-color: #f5f8fa;
                    padding: 10px;
                    margin-right: 2px;
                  "
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                  />
                </svg>
              </a>

              <!-- update -->
              <a
                routerLink="/features/learningpaths/update/{{ data._id }}"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                  class="svg-icon svg-icon-3"
                >
                </span>
              </a>

              <!-- delete -->
              <a
                (click)="updateDeleteId(data._id)"
                data-toggle="modal"
                data-target="#deleteOneModal"
                routerLink="/features/learningpaths"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
              >
                <span
                  [inlineSVG]="
                    './assets/media/icons/duotune/general/gen027.svg'
                  "
                  class="svg-icon svg-icon-3"
                >
                </span>
              </a>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->

      <!-- test -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>

<!-- Delete one Modal -->
<div
  class="modal fade"
  id="deleteOneModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteOneModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteOneModalLabel">
          <b>CONFIRM REMOVE DATA</b>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete these records? This process cannot be
        undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="onDeleteBtnClick()"
        >
          Accept
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete many Modal -->
<div
  class="modal fade"
  id="deleteManyModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteManyModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteManyModalLabel">
          <b>CONFIRM REMOVE DATA</b>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete {{ getSelection().length }} select records?
        This process cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="onDeleteManyBtnClick()"
        >
          Accept
        </button>
      </div>
    </div>
  </div>
</div>
