<div class="card mb-5 mb-xl-10">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">ClassRoom</span>
      <span class="text-muted mt-1 fw-bold fs-7">Update datas</span>
    </h3>
    <div class="card-toolbar">
      <!-- new data -->
      <div class="card-toolbar">
        <a
          routerLink="/features/classrooms"
          class="btn btn-sm btn-light-primary"
        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr002.svg'"
            class="svg-icon svg-icon-3"
          ></span>
          Go back
        </a>
      </div>
    </div>
  </div>
  <!-- end::Header -->

  <div id="kt_account_profile_details" class="collapse show">
    <form [formGroup]="form" novalidate="" class="form">
      <div class="card-body border-top p-9">
        <!-- Name -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">Name</span>
          </label>
          <div class="col-lg-8 fv-row">
            <input
              formControlName="name"
              [(ngModel)]="input.name"
              type="text"
              class="form-control form-control-lg form-control-solid mrb-5"
              placeholder="Enter title"
              name="name"
            />

            <span
              class="text-danger"
              *ngIf="
                form.controls['name']!.invalid &&
                (form.controls['name'].dirty || form.controls['name'].touched)
              "
            >
              <span *ngIf="form.controls['name'].errors!.required">
                Vui lòng nhập trường này
              </span>
            </span>
          </div>
        </div>

        <!-- Image -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">Thumbnail</span>
          </label>

          <!-- Image -->
          <div class="col-lg-8 fv-row">
            <!--begin::Image input-->
            <div class="image-input image-input-outline">
              <!--begin::Image preview wrapper-->
              <div
                class="image-input-wrapper w-125px h-125px"
                *ngIf="input.thumbnail != undefined && input.thumbnail != null"
              >
                <img
                  class="image-input-wrapper w-125px h-125px"
                  *ngIf="input.thumbnail != ''"
                  [src]="input.thumbnail"
                  alt="e8 learning"
                  width="250"
                  height="250"
                />
              </div>
              <!--end::Image preview wrapper-->

              <!--begin::Edit button-->
              <label
                class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="change"
                data-bs-toggle="tooltip"
                data-bs-dismiss="click"
                title="Change thumbnail"
                (change)="onImageUploadClick()"
              >
                <i class="bi bi-pencil-fill fs-7"></i>

                <!--begin::Inputs-->
                <input
                  type="file"
                  formControlName="thumbnail"
                  accept="image/*"
                  #inputImage
                  name="thumbnail"
                />
                <!--end::Inputs-->
              </label>
              <!--end::Edit button-->

              <!--begin::Remove button-->
              <span
                class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="remove"
                data-bs-toggle="tooltip"
                data-bs-dismiss="click"
                title="Remove avatar"
                (click)="onImageDeleteClick()"
              >
                <i class="bi bi-x fs-2"></i>
              </span>
              <!--end::Remove button-->
            </div>
            <!--end::Image input-->
          </div>
        </div>

        <!-- desc -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">desc</span>
          </label>
          <div class="col-lg-8 fv-row">
            <textarea
              [(ngModel)]="input.desc"
              formControlName="desc"
              placeholder="desc..."
              name="desc"
              class="form-control form-control-lg form-control-solid mrb-5"
              aria-label="With textarea"
            ></textarea>

            <span
              class="text-danger"
              *ngIf="
                form.controls['desc']!.invalid &&
                (form.controls['desc'].dirty || form.controls['desc'].touched)
              "
            >
              <span *ngIf="form.controls['desc'].errors!.required">
                Vui lòng nhập trường này
              </span>
            </span>
          </div>
        </div>

        <!-- startTime -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">startTime</span>
          </label>
          <div class="col-lg-8 fv-row">
            <input
              placeholder="Pick a date"
              formControlName="startTime"
              [(ngModel)]="input.startTime"
              class="form-control form-control-lg form-control-solid mrb-5"
              placeholder="Pick a date"
              id="startTime_datepicker"
            />
            <span
              class="text-danger"
              *ngIf="
                form.controls['startTime']!.invalid &&
                (form.controls['startTime'].dirty ||
                  form.controls['startTime'].touched)
              "
            >
              <span *ngIf="form.controls['startTime'].errors!.required">
                Vui lòng nhập trường này
              </span>
            </span>
          </div>
        </div>
      </div>

      <!-- Add New -->
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="isLoading"
          (click)="onUpdateBtnClick()"
        >
          <ng-container *ngIf="!isLoading">Save Changes</ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>
