<div class="card mb-5 mb-xl-10">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Sub Specialize</span>
      <span class="text-muted mt-1 fw-bold fs-7">Add New</span>
    </h3>
    <div class="card-toolbar">
      <!-- new data -->
      <div class="card-toolbar">
        <a routerLink="/features/subspecializes" class="btn btn-sm btn-light-primary">
          <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr002.svg'" class="svg-icon svg-icon-3"></span>
          Go back
        </a>
      </div>
    </div>
  </div>
  <!-- end::Header -->

  <div id="kt_account_profile_details" class="collapse show">
    <form [formGroup]="form" novalidate="" class="form">
      <div class="card-body border-top p-9">
        <!-- Id SubSpecialize -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">Specialize</span>
          </label>
          <div class="col-lg-8 fv-row">
            <select class="form-control form-control-lg form-control-solid mb-2" formControlName="idSpecialize"
              [(ngModel)]="input.idSpecialize" placeholder="Select specialize">
              <option value="" disabled selected hidden>
                Select IdSpecialize
              </option>
              <option *ngFor="let item of specializes" [value]="item._id">
                {{ item.name }}
              </option>
            </select>
            <span class="text-danger" *ngIf="
                form.controls['idSpecialize']!.invalid &&
                (form.controls['idSpecialize'].dirty ||
                  form.controls['idSpecialize'].touched)
              ">
              <span *ngIf="form.controls['idSpecialize'].errors!.required">
                Vui lòng nhập trường này
              </span>
            </span>
          </div>
        </div>

        <!-- Name -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">Name</span>
          </label>
          <div class="col-lg-8 fv-row">
            <input formControlName="name" [(ngModel)]="input.name" type="text"
              class="form-control form-control-lg form-control-solid mrb-5" placeholder="Name" name="name" />

            <span class="text-danger" *ngIf="
                form.controls['name']!.invalid &&
                (form.controls['name'].dirty || form.controls['name'].touched)
              ">
              <span *ngIf="form.controls['name'].errors!.required">
                Vui lòng nhập trường này
              </span>
            </span>
          </div>
        </div>

        <!-- Position -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">Position</span>
          </label>
          <div class="col-lg-8 fv-row">
            <input formControlName="position" [(ngModel)]="input.position" type="number"
              class="form-control form-control-lg form-control-solid mrb-5" placeholder="Position" name="position" />

            <span class="text-danger" *ngIf="
                form.controls['position']!.invalid &&
                (form.controls['position'].dirty ||
                  form.controls['position'].touched)
              ">
              <span *ngIf="form.controls['position'].errors!.required">
                Vui lòng nhập trường này
              </span>
            </span>
          </div>
        </div>
      </div>

      <!-- Add New -->
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="onAddNewBtnClick()">
          <ng-container *ngIf="!isLoading">Add New</ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>