<div class="px-7 py-5">
  <div class="fs-5 text-dark fw-bolder">Filter</div>
</div>

<div class="separator border-gray-200"></div>

<div class="px-7 py-5">
  <!-- Select Certificate -->
  <div class="mb-5"
      *ngIf="getEmailAuth() === 'admin@gmail.com'">
    <label class="form-label fw-bold">Store:</label>
    <div>
      <select
        [(ngModel)]="storeSelect"
        class="form-select form-select-solid"
        data-kt-select2="true"
        data-allow-clear="true"
      >
        <option value="0">All</option>
        <option *ngFor="let item of dataStore" value="{{ item._id }}">
          {{ item.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="mb-5">
    <label class="form-label fw-bold">Status:</label>
    <div>
      <select
        [(ngModel)]="statusSelect"
        class="form-select form-select-solid"
        data-kt-select2="true"
        data-allow-clear="true"
      >
        <option value="0">All</option>
        <option *ngFor="let item of dataStatus" value="{{ item.id }}">
          {{ item.value }}
        </option>
      </select>
    </div>
  </div>

  <!-- Button -->
  <div class="d-flex justify-content-end">
    <button
      type="reset"
      class="btn btn-sm btn-white btn-active-light-primary me-2"
      data-kt-menu-dismiss="true"
    >
      Reset
    </button>
    <button
      (click)="onApplyBtnClick()"
      type="submit"
      class="btn btn-sm btn-primary"
      data-kt-menu-dismiss="true"
    >
      Apply
    </button>
  </div>
</div>
