.SMS {
    color: #FFD600;
    background-color: #FFFCE3;
    width: max-content;
    height:30px;
    font-size:18px;
    margin-left: 30px;
    font-family: 'Inter';
    font-style: normal;
    letter-spacing: -0.5px;
    justify-items: center;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.VOICE {
    color: #30BB1A;
    background-color: #E9FFE3;
    width: max-content;
    height:30px;
    font-size:18px;
    margin-left: 30px;
    font-family: 'Inter';
    font-style: normal;
    letter-spacing: -0.5px;
    justify-items: center;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.MMS {
    color: #FA6900;
    background-color: #FFF0E3;
    width: max-content;
    height:30px;
    font-size:18px;
    margin-left: 30px;
    font-family: 'Inter';
    font-style: normal;
    letter-spacing: -0.5px;
    justify-items: center;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;

}
#sms{
    color: #FFD600
    ;
}

#voice{
    color:#30BB1A
}

#mms{
    color:#FA6900
}