<div class="mb-5 mb-xl-8">
  <span class="fw-bolder fs-3 mb-1">User List</span>
</div>
<div class="card mb-5 mb-xl-8">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <b9-customers-search (searchChange)="onSearchChange($event)"></b9-customers-search>
    <div class="card-toolbar">
      <!-- delete -->
      <div class="card-toolbar" *ngIf="getSelection().length > 0">
        <a routerLink="/features/customers" data-toggle="modal" data-target="#deleteManyModal"
          class="btn btn-sm btn-light-danger mr-1">
          <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'" class="svg-icon svg-icon-3"></span>
          Delete
        </a>
      </div>

      <!-- accept account -->
      <div class="card-toolbar" *ngIf="getSelection().length > 0">
        <a routerLink="/features/customers" data-toggle="modal" data-target="#deleteManyModal"
          class="btn btn-sm btn-light-success mr-1">
          <span [inlineSVG]="'./assets/media/icons/duotune/general/gen043.svg'" class="svg-icon svg-icon-3"></span>
          Accept account
        </a>
      </div>

      <!-- new data -->
      <div class="card-toolbar">
        <a routerLink="/features/customers/add" class="btn btn-sm btn-primary">
          <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
          Add User
        </a>
      </div>

      <!-- begin::Menu -->
      <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
        data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'" class="svg-icon svg-icon-2"></span>
      </button>

      <!-- begin::Menu 1 -->
      <b9-customers-filter [permissions]="roles" [stores]="stores" [typeUsers]="typeUserDatas"
        (applyBtnClick)="onApplyBtnClick($event)">
      </b9-customers-filter>
      <!-- end::Menu 1 -->
      <!-- end::Menu -->

      <!-- end::Menu -->
    </div>
  </div>
  <!-- end::Header -->

  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="w-25px">
              <div class="form-check form-check-sm form-check-custom form-check-solid mr-3">
                <input [(ngModel)]="isSelectAll" (click)="onCheckAllSelected()" class="form-check-input" type="checkbox"
                  data-kt-check="true" data-kt-check-target=".widget-13-check" />
              </div>
            </th>
            <th class="min-w-150px">ID User</th>
            <th class="min-w-100px">Thumbnail</th>
            <th class="min-w-120px">Full Name</th>
            <th class="min-w-120px">Type User</th>
            <th class="min-w-120px">Phone Number</th>
            <th class="min-w-120px">Store Module</th>
            <th class="min-w-120px">Staff Services</th>
            <th class="min-w-120px">Status</th>
            <th class="min-w-100px text-end">Actions</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let data of dataSources">
            <!-- Select -->
            <td>
              <div class="form-check form-check-sm form-check-custom form-check-solid">
                <input [(ngModel)]="data.checked" (click)="onItemSelected(data.id)"
                  class="form-check-input widget-13-check" type="checkbox" value="1" />
              </div>
            </td>

            <!-- ID User -->
            <td>
              <a routerLink="/features/customers/update/{{ data.id }}"
                class="text-dark fw-bolder text-hover-primary fs-6">
                <p class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                  {{ data.id }}
                </p>
              </a>
            </td>

            <!-- thumbnail -->
            <td>
              <div class="d-flex align-items-center">
                <div class="symbol symbol-45px me-5">
                  <img src="{{ data.avatar || 'assets/noimage.jpeg' }}" alt="" />
                </div>
              </div>
            </td>

            <!-- Full Name -->
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex justify-content-start flex-column">
                  <a routerLink="/features/customers/update/{{ data.id }}"
                    class="text-dark fw-bolder text-hover-primary fs-6">
                    {{ data.fullName }}
                  </a>
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                    {{ data.role }}
                  </span>
                </div>
              </div>
            </td>

            <!-- Type User -->
            <td>
              <p class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{ data.typeUser }}
              </p>
            </td>

            <!-- Phone -->
            <td>
              <p class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                {{ data.phone }}
              </p>
            </td>

            <!-- Store Module -->
            <td>
              <p class="text-dark text-hover-primary d-block mb-1 fs-6">
                <a routerLink="/features/customers/choose/{{ data.id }}"
                  *ngIf="data?.idStoreModules?.length > 0 && data?.typeUser === 'STAFF'" type="button"
                  class="btn btn-primary btn-sm recharge-button">{{ data.idStoreModules.length
                  }}</a>

                <a *ngIf="data?.idStoreModules?.length <= 0 && data?.typeUser === 'STAFF'" type="button"
                  routerLink="/features/customers/choose/{{ data.id }}"
                  class="btn btn-primary btn-sm recharge-button btn-choose">Choose</a>
              </p>
            </td>

            <!-- Staff Services -->
            <td>
              <p class="text-dark text-hover-primary d-block mb-1 fs-6">
                <a routerLink="/features/customers/chooseStaff/{{ data.id }}"
                  *ngIf="data?.staffServices?.length > 0 && data?.typeUser === 'WORKER'" type="button"
                  class="btn btn-success btn-sm recharge-button">{{ data.staffServices.length
                  }}</a>

                <a routerLink="/features/customers/chooseStaff/{{ data.id }}"
                  *ngIf="data?.staffServices?.length <= 0 && data?.typeUser === 'WORKER'" type="button"
                  class="btn btn-success btn-sm recharge-button btn-choose">Choose</a>
              </p>
            </td>

            <!-- Activate -->
            <td class="text-center">
              <p class="text-dark text-center text-hover-primary d-block mb-1 fs-6">
                <span *ngIf="!data.deleted" [inlineSVG]="
                    './assets/media/icons/duotune/general/gen043.svg'
                  " class="svg-icon svg-icon-2 svg-icon-success"></span>

                <span *ngIf="data.deleted" [inlineSVG]="
                    './assets/media/icons/duotune/general/gen040.svg'
                  " class="svg-icon svg-icon-2 svg-icon-danger"></span>
              </p>
            </td>

            <!-- Acction -->
            <td class="text-end">
              <!-- update -->
              <a routerLink="/features/customers/update/{{ data.id }}"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1 mt-1">
                <span [inlineSVG]="'./assets/media/icons/duotune/art/art011.svg'" class="svg-icon svg-icon-3">
                </span>
              </a>

              <!-- delete -->
              <a (click)="updateDeleteId(data.id)" data-toggle="modal" data-target="#exampleModal"
                routerLink="/features/customers"
                class="btn btn-icon btn-active-color-primary btn-sm badge badge-light-danger">
                <span [inlineSVG]="
                        './assets/media/icons/duotune/general/gen060.svg'
                      " class="svg-icon svg-icon-3">
                </span>
              </a>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->

      <!-- test -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>

<div class="d-flex flex-stack flex-wrap pt-10" style="float: right" *ngIf="dataSources">
  <div class="fs-6 fw-bold text-gray-700">Items per page:</div>

  <div>
    <select [(ngModel)]="pageSize" (change)="onChangeSize()" class="form-select form-select-solid form-select-md"
      name="currency">
      <option value="5">5</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="80">80</option>
    </select>
  </div>

  <!-- <div class="fs-6 fw-bold text-gray-700">Showing {{(pageIndex-1)*pageSize+1}} to
        {{(pageIndex-1)*pageSize+dataSources.length}}
        of {{pageLength}} entries</div> -->

  <div class="fs-6 fw-bold text-gray-700 mr-lr-20">
    {{ (pageIndex - 1) * pageSize + 1 }} -
    {{ (pageIndex - 1) * pageSize + dataSources.length }}
    of {{ pageLength }}
  </div>

  <ul class="pagination">
    <!-- begin page -->
    <li class="page-item previous" (click)="onBeginClick()" disabled="true">
      <a class="page-link cursor-pointer">
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr079.svg'" class="svg-icon svg-icon-3"></span>
      </a>
    </li>

    <!-- previous page -->
    <li class="page-item previous" (click)="onPreviousClick()">
      <a class="page-link cursor-pointer">
        <i class="previous"></i>
      </a>
    </li>

    <!-- next page -->
    <li class="page-item next" (click)="onNextClick()">
      <a class="page-link cursor-pointer">
        <i class="next"></i>
      </a>
    </li>

    <!-- end page -->
    <li class="page-item next" (click)="onEndClick()">
      <a class="page-link cursor-pointer">
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr080.svg'" class="svg-icon svg-icon-3"></span>
      </a>
    </li>
  </ul>
</div>

<!-- Delete many Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body d-flex justify-content-center flex-column align-items-center">
        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen061.svg'"></span>
        <p class="text-center " style="width: 55%;">
          Do you really want to delete these records? This process cannot be
          undone.
        </p>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary w-150px mr-10" data-dismiss="modal">
            No
          </button>
          <button type="button" class="btn btn-danger w-150px" data-dismiss="modal" (click)="onDeleteBtnClick()">
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete many Modal -->
<div class="modal fade" id="deleteManyModal" tabindex="-1" role="dialog" aria-labelledby="deleteManyModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body d-flex justify-content-center flex-column align-items-center">
        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen061.svg'"></span>
        <p class="text-center " style="width: 55%;">
          Do you really want to delete {{ getSelection().length }} this service? This process cannot be
          undone.
        </p>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary w-150px mr-10" data-dismiss="modal">
            No
          </button>
          <button type="button" class="btn btn-danger w-150px" data-dismiss="modal" (click)="onDeleteManyBtnClick()">
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>