.mr-lr-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.btn-choose {
    font-size: 10px;
    width: 43px;
    height: 35px;
    padding-left: 0.1px !important;
    padding-right: 0.2px !important;
}