<div class="card mb-5 mb-xl-8">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Histories</span>
      <span class="text-muted mt-1 fw-bold fs-7"
        >Selected {{ getSelection().length }} records</span
      >
    </h3>

    <div class="card-toolbar">
      <!-- delete -->
      <div class="card-toolbar" *ngIf="getSelection().length > 0">
        <a
          routerLink="/features/otps"
          data-toggle="modal"
          data-target="#deleteManyModal"
          class="btn btn-sm btn-light-danger mr-1"
        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
            class="svg-icon svg-icon-3"
          ></span>
          Delete
        </a>
      </div>
    </div>
  </div>
  <!-- end::Header -->

  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table
        class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
      >
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="w-25px">
              <div
                class="form-check form-check-sm form-check-custom form-check-solid"
              >
                <input
                  [(ngModel)]="isSelectAll"
                  (click)="onCheckAllSelected()"
                  class="form-check-input"
                  type="checkbox"
                  data-kt-check="true"
                  data-kt-check-target=".widget-13-check"
                />
              </div>
            </th>
            <th class="min-w-150px">ID</th>
            <th class="min-w-150px">Phone/Email</th>
            <th class="min-w-150px">Created AT</th>
            <th class="min-w-150px text-end">Actions</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngIf="dataSources.length < 1">
            <td [colSpan]="5">
              <p class="py-5 text-center fs-4">Nothing to show!</p>
            </td>
          </tr>

          <tr *ngFor="let data of dataSources">
            <!-- Select -->
            <td>
              <div
                class="form-check form-check-sm form-check-custom form-check-solid"
              >
                <input
                  [(ngModel)]="data.checked"
                  (click)="onItemSelected(data._id)"
                  class="form-check-input widget-13-check"
                  type="checkbox"
                  value="1"
                />
              </div>
            </td>

            <!-- ID -->
            <td>
              <p
                class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
              >
                {{ data._id }}
              </p>
            </td>

            <!-- Email/Phone -->
            <td>
              <p
                class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
              >
                {{ data.phone || data.email || "" }}
              </p>
            </td>

            <!-- Created At -->
            <td>
              <p
                class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
              >
                {{ data.createdAt | date: "hh:mm:ss dd/MM/yyyy" }}
              </p>
            </td>

            <!-- Action -->
            <td class="text-end">
              <!-- delete -->
              <a
                (click)="updateDeleteId(data._id)"
                data-toggle="modal"
                data-target="#exampleModal"
                routerLink="/features/otps"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
              >
                <span
                  [inlineSVG]="
                    './assets/media/icons/duotune/general/gen027.svg'
                  "
                  class="svg-icon svg-icon-3"
                >
                </span>
              </a>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->

      <!-- test -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>

<div
  class="d-flex flex-stack flex-wrap pt-10"
  style="float: right"
  *ngIf="dataSources"
>
  <div class="fs-6 fw-bold text-gray-700">Items per page:</div>

  <div>
    <select
      [(ngModel)]="pageSize"
      (change)="onChangeSize()"
      class="form-select form-select-solid form-select-md"
      name="currency"
    >
      <option value="5">5</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="80">80</option>
    </select>
  </div>

  <!-- <div class="fs-6 fw-bold text-gray-700">Showing {{(pageIndex-1)*pageSize+1}} to
        {{(pageIndex-1)*pageSize+dataSources.length}}
        of {{pageLength}} entries</div> -->

  <div class="fs-6 fw-bold text-gray-700 mr-lr-20">
    {{ (pageIndex - 1) * pageSize + 1 }} -
    {{ (pageIndex - 1) * pageSize + dataSources.length }}
    of {{ pageLength }}
  </div>

  <ul class="pagination">
    <!-- begin page -->
    <li class="page-item previous" (click)="onBeginClick()" disabled="true">
      <a class="page-link cursor-pointer">
        <span
          [inlineSVG]="'./assets/media/icons/duotune/arrows/arr079.svg'"
          class="svg-icon svg-icon-3"
        ></span>
      </a>
    </li>

    <!-- previous page -->
    <li class="page-item previous" (click)="onPreviousClick()">
      <a class="page-link cursor-pointer">
        <i class="previous"></i>
      </a>
    </li>

    <!-- next page -->
    <li class="page-item next" (click)="onNextClick()">
      <a class="page-link cursor-pointer">
        <i class="next"></i>
      </a>
    </li>

    <!-- end page -->
    <li class="page-item next" (click)="onEndClick()">
      <a class="page-link cursor-pointer">
        <span
          [inlineSVG]="'./assets/media/icons/duotune/arrows/arr080.svg'"
          class="svg-icon svg-icon-3"
        ></span>
      </a>
    </li>
  </ul>
</div>

<!-- Delete Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <b>CONFIRM REMOVE DATA</b>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete these records? This process cannot be
        undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="onDeleteBtnClick()"
        >
          Accept
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete many Modal -->
<div
  class="modal fade"
  id="deleteManyModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteManyModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteManyModalLabel">
          <b>CONFIRM REMOVE DATA</b>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete {{ getSelection().length }} select records?
        This process cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="onDeleteManyBtnClick()"
        >
          Accept
        </button>
      </div>
    </div>
  </div>
</div>
