.mr-lr-20{
    margin-left: 20px;
    margin-right: 20px;
}
.system-custom{
    display: flex;
    margin-top: 1.5rem;
    justify-content: flex-start;
    padding: 0 1.4rem;
}

.form-search {
    margin-right: 10px;
    margin-bottom: -4px;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    /* Styles */
    .form-reponsive{
        width: 100px;
    }
}


